.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #fff9f2;
}

.register-card {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border: 1px solid #f0f0f0;
  border-radius: 16px;
  background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
}

.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.logo-img {
  width: 80px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  color: #ff6600;
  margin: 0;
}

.orange-button {
  background-color: #ff6600;
  border-color: #ff6600;
  color: white;
  font-weight: bold;
}

.orange-button:hover {
  background-color: #e65c00 !important;
  border-color: #e65c00 !important;
  color: white;
}

.google-button {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  font-weight: bold;
}

.google-button:hover {
  background-color: #f5f5f5;
}
.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #444;
  border: 1px solid #ccc;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

.google-btn:hover {
  background-color: #f5f5f5;
  border-color: #aaa;
}

.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
